html {
    -ms-text-size-adjust: 120%;
    -webkit-text-size-adjust: 120%;
}

header,
#content,
footer {
    width: 640px;
    margin: 0 auto;
}

header {
    text-align: center;
}

header h1 {
    margin: 2em 0;
    font-family: "source-sans-pro-1", "source-sans-pro-2", sans-serif;
    font-size: 110%;
    font-weight: normal;
    text-transform: uppercase;
}

header h1 a {
    color: #666;
    text-decoration: none;
}

header h1 a:hover {
    color: #333;
}

header ul {
    display: table;
    margin: 0 auto 2em;
    padding: 0;
}

header li {
    display: table-cell;
    padding-right: 1em;
    font-family: "source-sans-pro-1", "source-sans-pro-2", sans-serif;
    font-size: 90%;
    font-weight: normal;
}

header .tail {
    padding-right: 0;
}

header li a {
    color: #666;
    text-decoration: none;
}

header li a:hover {
    color: #333;
    text-decoration: underline;
}

#content {
    color: #333;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

#content h2,
#content h3 {
    margin-bottom: 0.2em;
    font-family: "source-sans-pro-1", "source-sans-pro-2", sans-serif;
    font-size: 110%;
    font-weight: normal;
}

#content ul {
    margin: 0 0 1.5em 0;
}

#content li {
    font-size: 90%;
    line-height: 1.5;
}

#content p {
    margin: 0 0 1.5em 0;
    font-size: 90%;
    line-height: 1.5;
}

#content .one-line {
    text-align: center;
}

#content .date {
    color: #666;
    font-size: 80%;
}

#content pre,
#content code {
    font-family: "Courier", "Consolas", monospace;
    background-color: #EEE;
}

#content pre {
    margin: 0 0 1.5em 0;
    padding: 0.5em;
    border-left: 3px solid #CCC;
    font-size: 90%;
    line-height: 1.5;
    word-wrap: break-word;
}

#content blockquote {
    padding-left: 1em;
    border-left: 3px double #999;
    color: #666;
}

footer {
    padding-bottom: 1em;
}

footer address {
    line-height: 1.4;
    color: #666;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: 80%;
    font-style: normal;
}

footer address a {
    color: #666;
}

.twitter-share-button {
    margin: 0 0 2em 0;
}
