html {
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  font-size: 62.5%;
}

body {
  border-top: 12px solid #224;
  color: #224;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
}

.hd {
  width: 600px;
  margin: 50px auto;
}

.nav {
  float: right;
  list-style-type: none;
}

.nav li {
  float: left;
  margin: 6px 0 0 8px;
}

.nav a {
  color: #224;
  font-family: "Muli", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
}

.nav a:hover {
  color: #668;
}

.sign {
  font-family: "Muli", sans-serif;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 300;
}

.sign a {
  color: #224;
  text-decoration: none;
}

.sign a:hover {
  color: #668;
}

.bd {
  width: 600px;
  margin: 0 auto;
}

.bd h2 {
  margin: 0 0 0.2em 0;
  color: #224;
  font-size: 2.2rem;
  font-weight: 700;
}

.bd h3 {
  margin: 0 0 0.5em 0;
  padding: 0 0 0 6px;
  border-left: 3px solid #224;
  color: #224;
  font-size: 1.8rem;
}

.bd p {
  margin: 0 0 1.5em 0;
  line-height: 1.8;
}

.bd blockquote {
  padding-left: 1em;
  border-left: 3px double #999;
  color: #667;
}

.bd pre {
  margin: 0 0 1.5em 0;
  padding: 0.8em;
  border-left: 3px solid #CCC;
  font-size: 1.2rem;
  background-color: #EEE;
  line-height: 1.6;
  word-wrap: break-word;
}

.bd code {
  padding: 0.1em;
  border: 1px solid #DDD;
  font-family: "Menlo", "Consolas", monospace;
  background-color: #EEE;
}

.bd pre code {
  border: 0;
}

.bd .date {
  margin: 0 0 1.5em 0;
  color: #668;
  font-size: 1.4rem;
}

.bd ul {
  list-style-type: disc;
  margin: 0 0 1.5em 2em;
  line-height: 1.6;
}

.bd li {
  list-style-type: disc;
}

.ft {
  width: 600px;
  margin: 0 auto;
  padding: 10px 0;
  border-top: 1px solid #DDD;
  color: #668;
}

.ft p {
  margin: 0 0 8px 0;
  line-height: 1.5;
  font-size: 1.4rem;
}

.ft a {
  color: #446;
}

.fb-like {
  margin: 0 0 10px 0;
}

.twitter-share-button {
  margin: 0 0 30px 0;
}

@media screen and (max-width: 640px) {
  html { font-size: 110%; }
}
