<link rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/">
<link rel="alternate" type="application/atom+xml" href="http://www.okuryu.com/feed.xml">
<link href='http://fonts.googleapis.com/css?family=Muli:300,400,400italic,300italic' rel='stylesheet' type='text/css'>
<link href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css" rel="stylesheet" type="text/css">
<link href="http://yui.yahooapis.com/3.3.0/build/cssfonts/fonts-min.css" rel="stylesheet" type="text/css">
<link href="/css/default.css?{{ 'now' | date: "%y%m%d" }}" rel="stylesheet" type="text/css">
